.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.button {
  width: 100px;
  border: none;
  border-radius: 12px;
  padding: 16px;
  background-color: rgb(251, 119, 145);
  color: white;
  cursor: pointer;
}

.button:disabled {
  background-color: rgb(251, 119, 145, 0.5);
  cursor: not-allowed;
}
