.container {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  gap: 50px;
  width: 100%;
}

.imageContainer {
  flex: 1;
  height: 350px;
  position: relative;
}

.image {
  object-fit: cover;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

.date {
  color: gray;
}

.category {
  color: crimson;
  font-weight: 500;
}

.desc {
  font-size: 18px;
  font-weight: 300;
  color: var(--softTextColor);
}

.link {
  border-bottom: 1px solid crimson;
  width: max-content;
  padding: 2px 0px;
}

.cardTitle {
  font-size: 1.8rem;
}

.cardTitle,
.desc {
  width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.desc {
  font-size: 1.6rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
}

@media screen and (max-width: 1280px) {
  .imageContainer {
    display: none;
  }
}
