:root {
  --bg: white;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 1.6rem;
}

.dark {
  --bg: #0f172a;
  --textColor: #ddd;
  --softBg: #1f273a;
  --softTextColor: #a6a6a6;
}

.container {
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--textColor);
}

.wrapper {
  max-width: "100%";
  margin: auto;
  padding-left: 80px;
  padding-right: 80px;
}

a {
  color: inherit;
  text-decoration: none;
}
button,
textarea,
input {
  font-family: inherit;
  font-size: 1.6rem;
}

@media screen and (max-width: 640px) {
  .wrapper {
    max-width: "100%";
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}
