.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  gap: 20px;
}

.logo {
  flex: 1;
  text-align: center;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-self: start;
}

.links {
  display: flex;
  gap: 20px;
  align-items: center;
  flex: 1;
  font-weight: bold;
}
.linkTitle {
  position: relative;
}

.linkTitle:hover::after {
  background-color: aqua;
  opacity: 1;
}

.active.linkTitle::after {
  opacity: 1;
  background-color: aqua;
}

.linkTitle::after {
  content: "";
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  right: 0;
  height: 3px;
  border-radius: 16px;
  z-index: 100;
  opacity: 0;
  display: block;
  transform: scale(0.8, 1);
  transition: all 150ms ease-in-out 0s;
}

.buger {
  display: flex;
  gap: 20px;
  align-items: center;
}

@media screen and (max-width: 1280px) {
  .logo {
    font-size: 2.8rem;
  }
  .links {
    gap: 15px;
  }
}
@media screen and (max-width: 1024px) {
  .logo {
    text-align: left;
  }
}
@media screen and (max-width: 768px) {
  .logo {
    font-size: 2.2rem;
  }
}
@media screen and (max-width: 640px) {
  .links {
    justify-content: flex-end;
  }
  .link {
    display: none;
  }
}
